.lot {
  float: left;
  padding: 10px 10px 20px;
  text-align: left;
  margin-bottom: 10px;
  outline: none;

  .lot-list & {
    @include span(3 of 15);

    &:nth-of-type(5n + 6) {
      @include break;
    }
  }

  &:hover {
    .lot__title-link {
      color: $blue-color;
    }

    .lot__label {
      color: $red-color;
      border-color: $red-color;
    }
  }
}

.lot__title {
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

.lot__title-link {
  text-decoration: none;
  color: $dark-grey-color;
}

.lot__details-price {
  margin-bottom: 5px;
  font-size: 16px;
  color: $light-grey-color;
  text-align: left;
}

.lot__img {
  position: relative;
  margin: 5px 0;
}

.lot__label {
  position: absolute;
  top: 10px;
  left: 10px;
}

@include susy-breakpoint($bp-phone + 1 $bp-tablet) {
  .lot {
    .lot-list & {
      @include span(5 of 15);

      &:nth-of-type(5n + 6) {
        clear: none;
      }

      &:nth-of-type(3n + 4) {
        @include break;
      }
    }
  }
}

@include susy-breakpoint(0 $bp-phone) {
  .lot {
    .lot-list & {
      @include span(15 of 15);
    }
  }
}