.promo {
  text-align: center;
  padding-top: 100px;
}

.promo__content {
  position: relative;
}

.promo__title {
  font-size: 40px;
  text-transform: uppercase;
  color: $blue-color;
  margin-top: 20px;
  margin-bottom: 0;
}


