.filters {

}

.filters__input {
  border: 1px solid $light-grey-color;
  padding: 3px 5px;
  outline: none;
  width: 122px;
}

.filters__select {
  border: 1px solid $light-grey-color;
  padding: 2px 5px;
  outline: none;
  color: $light-grey-color;
  font-size: 16px;
}


