.sort {
  text-align: right;
  font-size: 0;
}

.sort input {
  display: none;
}

.sort__item {
  font-size: 16px;
}

.sort input:checked + .sort__item {
  background: $light-grey-color;
  color: #fff;
}

@include susy-breakpoint(0 $bp-tablet) {

}

@include susy-breakpoint(0 $bp-phone) {
  .sort__item {
    display: inline-block;
    margin: 3px 0;
  }
}