.nav {

}

.nav__list {
  list-style: none;
  margin: 0; /* Normalize не обнуляет */
  padding: 0; /* Normalize не обнуляет */
  font-size: 0;
}

.nav__list-item {

  &:hover .nav__list_sub {
    display: block;
  }

  &:hover .nav__list-item-link {
  background: $blue-color;
}

  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.nav__list-item:last-child .nav__list-item-link {
  border: none;
}

.nav__list-item-link {

  &.nav__list-item-link_active {
    background: $blue-color;
  }
  color: #fff;
  text-decoration: none;
  padding: 4px 10px;
  border-right: 2px solid $blue-color;
}

.nav__list.nav__list_sub {
  position: absolute;
  display: none;
  z-index: 999;
  background: $blue-color;
  width: 100%;
}

.nav__list-item.nav__list-item_sub {
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-transform: lowercase;
}

.nav__list-item-link.nav__list-item-link_sub {

  &:hover {
    text-decoration: underline;
  }

  float: left;
  height: 2em;
  line-height: 2em;
  padding: 0 1.5em;
}
