<div class="bid-details">

  <div class="bid-details__console">
    <div class="bid-details__console__current-bid">
      <span>Current bid</span>
      <span class="bid-details__console__current-bid-amount"><span class="bid-details__console__current-bid-value">{{price}}</span> {{currency}}</span>
    </div>
    <form class="bid-details__bet">
      <input type="number" value="{{math price "+" "5"}}" min="{{math price "+" "5"}}" step="5" name="bid">
      <button class="ui-btn ui-btn_accent ui-btn_bet">Bet</button>
    </form>
  </div>

</div>