.bid-details__console {
  background: $super-light-grey-color;
  padding: 20px;
}

.bid-details__console__current-bid {
  margin-bottom: 2px;
}

.bid-details__console__current-bid-amount {
  font-size: 20px;
  font-weight: bold;
}

.bid-details__bet-input {
  padding: 5px 10px;
  outline: none;
}

@include susy-breakpoint(0 $bp-tablet) {
  .bid-details {
    max-width: 600px;
    margin: 0 auto;
  }
}
