.bid-details {
}

.bid-details__console {
  background: $super-light-grey-color;
  padding: 20px;
}

.bbid-details__console__current-bid {
  margin-bottom: 2px;
}

.id-details__console__current-bid-amount {
  font-size: 20px;
  font-weight: bold;
}
