.pdp__title {
  padding-top: 101px;
  margin-top: -101px;
}

.pdp__info {
  margin-top: 20px;
  @include susy-clearfix;
}

.pdp__info-item {
  $layout: (
    columns: 15,
    gutters: 0,
    math: fluid,
    output: float,
    gutter-position: inside,
  );

  @include with-layout($layout) {
    @include span(5 of 15);
  }
}

.pdp__description {
  text-align: justify;
  padding: 0 15px;
}

