.pdp__title {
  padding-top: 101px;
  margin-top: -101px;
}

.pdp__info {
  margin-top: 20px;
  @include susy-clearfix;
}

.pdp__info-item {
  $layout: (
    columns: 15,
    gutters: 0,
    math: fluid,
    output: float,
    gutter-position: inside,
  );

  @include with-layout($layout) {
    @include span(5 of 15);
  }
}

.pdp__description {
  text-align: justify;
  padding: 0 15px;
}

@include susy-breakpoint(0 $bp-tablet) {
  .pdp__info-item {
    @include span(15 of 15);
    float: none;
  }

  .pdp__image, .pdp__description{
    max-width: 600px;
    margin: 0 auto;
  }

  .pdp__description {
    padding: 20px 0;
  }
}


