<h2 class="pdp__title">{{title}}</h2>

<div class="pdp__info">

  <div class="pdp__image pdp__info-item">
    <img src="{{image}}" alt="There was an item image">
  </div>

  <div class="pdp__description pdp__info-item">{{description}}</div>

  <div class="pdp__info-item">
    {{>bid-details}}
  </div>

</div>

{{>gallery}}