$blue-color: #4688D3;
$dark-grey-color: #464547;
$light-grey-color: #9A9999;
$super-light-grey-color: #EAE7E7;
$red-color: #D30A10;
$header-height: 101px;
$bp-tablet: 960px;
$bp-phone: 560px;

$susy: (
  columns: 15,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

html {
  box-sizing: border-box;
}

body {
  font-family: 'Circe', Arial, sans-serif;
  font-size: 16px;
  /*color: #fff;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  transition: all .5s ease;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: $blue-color;
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue-color;
  text-align: center;
  margin-bottom: 0;
}

.main {
  padding: 10px 20px;
}

::-webkit-input-placeholder {
  color: $dark-grey-color;
}

:-moz-placeholder { /* Firefox 18- */
  color: $dark-grey-color;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $dark-grey-color;
}

:-ms-input-placeholder {
  color: $dark-grey-color;
}

