$blue-color: #4688D3;
$dark-grey-color: #464547;
$light-grey-color: #9A9999;
$red-color: #D30A10;

html {
  box-sizing: border-box;
}

body {
  font-family: 'Circe', Arial, sans-serif;
  font-size: 16px;
  /*color: #fff;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  transition: all .5s ease;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}