.ui-btn {
  border: 2px solid $blue-color;
  padding: 5px 10px;
  outline: none;
  background: none;
  color: $dark-grey-color;
}

.ui-btn.ui-btn_accent {

  &:hover {
    background: $red-color;
    border-color: $red-color;
  }

  background: $blue-color;
  color: #fff;
}

.ui-btn.ui-btn_bet {
  text-transform: uppercase;
  margin-right: 5px;
}

.ui-btn.ui-btn_light {
  border-color: $light-grey-color;
  padding: 3px 5px;
  border-width: 1px;
}

.ui-label {
  color: $blue-color;
  font-weight: bold;
  border: 2px solid $blue-color;
  padding: 5px;
}
