<!DOCTYPE html>
<html>
<head lang="en">
  <title>Auction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="UTF-8">
</head>

<body>

{% include "./blocks/header/header.html" %}

<div class="main">
  {% include "./blocks/promo/promo.html" %}
  {% include "./blocks/lot-list/lot-list.html" %}
  {% include "./blocks/contact/contact.html" %}
  {% include "./blocks/pdp/pdp.html" %}
</div>

{% include "./includes.html" %}
</body>

</html>