.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /*Поскольку position: fixed занимает ширину своего контента*/
  z-index: 1; /*Чтоб лежащий за ним релатив, что занимает весь экран, его не перекрывал*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-grey-color;
}

.header__side.header__side_right {
  text-align: right; /*Контент внутри одно из блоков сдвигаем вправо*/
}

.header__item {
  max-width: 100px;
  height: auto;
}

@include susy-breakpoint(0 $bp-tablet) {
  .header__side.header__side_search {
    display: none;
  }
}