.header {
  font-size: 0; /*убирает отступы по умолчанию (пробелы) у инлайновых элементов*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /*Поскольку position: fixed занимает ширину своего контента*/
  z-index: 1; /*Чтоб лежащий за ним релатив, что занимает весь экран, его не перекрывал*/
  background: #bbb;
}

.header__side {
  display: inline-block; /*Для вертикального выравнивания*/
  width: 33.3333%; /*Поскольку инлайновые занимают ширину контента, а нам необходимо контент из одного из блоков сместить в право*/
  vertical-align: middle; /*Выровняли два контейнера относительно друг-дружки*/
}

.header__side.header__side_right {
  text-align: right; /*Контент внутри одно из блоков сдвигаем вправо*/
}

.header__item {
  max-width: 100px;
  height: auto;
}